# DEV/TESTNET ONLY — never put real funds here
FARMER_ADDRESS=0xFC388ccd41d4Ac65c6f00C599cB4F1294Af69191
FARMER_PRIVATE_KEY=0x...
BUYER_ADDRESS=0x37376DAbf385c1B36e63E6F69FE8AFcfAf0B2b54
BUYER_PRIVATE_KEY=0x...
HSK_TESTNET_RPC=https://testnet.hsk.xyz
HSK_TESTNET_CHAIN_ID=133
HSK_TESTNET_EXPLORER=https://testnet-explorer.hsk.xyz
